In [ ]:
# Função / Método	O que faz
# df.head(n)	Mostra as primeiras n linhas
# df.tail(n)	Mostra as últimas n linhas
# df.info()	Mostra infos gerais (tipos, valores nulos, etc.)
# df.describe()	Estatísticas descritivas para colunas numéricas
# df['coluna'] ou df.coluna	Acessa uma coluna específica
# df.loc[linha]	Acessa por rótulo (nome do índice)
# df.iloc[linha]	Acessa por posição
# df[df['coluna'] == valor]	Filtra linhas com base em uma condição
# df[df['coluna'].str.contains('texto')]	Filtra por texto parcial (em strings)
# df.drop(columns=['coluna1', 'coluna2'])	Remove colunas
# df.rename(columns={'antigo': 'novo'})	Renomeia colunas
# df.sort_values('coluna')	Ordena por coluna
# df.groupby('coluna')	Agrupa valores iguais para análises
# df.isnull() / df.dropna() / df.fillna()	Trabalha com valores nulos

In [11]:
import pandas  as pd

df = pd.read_csv('imoveis_ficticios.csv', sep=',')
df.head()

,ID_Imovel,Tipo_Imovel,Cidade,Bairro,Area_m2,Num_Quartos,Num_Banheiros,Aluguel_Mensal,Disponivel
0,IMV-0001,Casa,Porto Alegre,Zona Oeste,224,1,2,627.28,Sim
1,IMV-0002,Estúdio,São Paulo,Centro,149,2,1,2900.75,Não
2,IMV-0003,Casa,Rio de Janeiro,Zona Norte,112,2,1,3386.60,Não
3,IMV-0004,Casa,Porto Alegre,Zona Oeste,265,4,2,2313.68,Sim
4,IMV-0005,Apartamento,Rio de Janeiro,Zona Sul,198,3,1,3488.91,Não

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
#NOVO DF APARTAMENTOS
df_Apartamentos = df[df['Tipo_Imovel'] == 'Apartamento']
df_Apartamentos.head()

,ID_Imovel,Tipo_Imovel,Cidade,Bairro,Area_m2,Num_Quartos,Num_Banheiros,Aluguel_Mensal,Disponivel
4,IMV-0005,Apartamento,Rio de Janeiro,Zona Sul,198,3,1,3488.91,Não
5,IMV-0006,Apartamento,São Paulo,Zona Norte,96,4,2,4523.81,Sim
8,IMV-0009,Apartamento,Rio de Janeiro,Zona Sul,149,1,1,2011.52,Sim
11,IMV-0012,Apartamento,São Paulo,Zona Sul,267,4,1,4537.05,Não
13,IMV-0014,Apartamento,Rio de Janeiro,Zona Leste,192,3,2,2210.76,Não

In [16]:
#CALCULAR O VALOR DO M2
# valor_m2 = valor_aluguel / area_em_m2

df_Apartamentos.loc[:,'Valor_m2'] = df_Apartamentos['Aluguel_Mensal'] / df_Apartamentos['Area_m2']
df_Apartamentos.head()

,ID_Imovel,Tipo_Imovel,Cidade,Bairro,Area_m2,Num_Quartos,Num_Banheiros,Aluguel_Mensal,Disponivel,Valor_m2
4,IMV-0005,Apartamento,Rio de Janeiro,Zona Sul,198,3,1,3488.91,Não,17.620758
5,IMV-0006,Apartamento,São Paulo,Zona Norte,96,4,2,4523.81,Sim,47.123021
8,IMV-0009,Apartamento,Rio de Janeiro,Zona Sul,149,1,1,2011.52,Sim,13.500134
11,IMV-0012,Apartamento,São Paulo,Zona Sul,267,4,1,4537.05,Não,16.992697
13,IMV-0014,Apartamento,Rio de Janeiro,Zona Leste,192,3,2,2210.76,Não,11.514375

In [27]:
#ORDENAR POR VALOR M2
df_Apartamentos.sort_values(by='Valor_m2', ascending=False).head(10)

,ID_Imovel,Tipo_Imovel,Cidade,Bairro,Area_m2,Num_Quartos,Num_Banheiros,Aluguel_Mensal,Disponivel,Valor_m2,Alta_demanda
1797,IMV-1798,Apartamento,Rio de Janeiro,Zona Sul,30,4,2,4800.55,Não,160.0,Acima da média
723,IMV-0724,Apartamento,Salvador,Zona Oeste,32,3,1,4826.35,Não,151.0,Acima da média
783,IMV-0784,Apartamento,Salvador,Zona Oeste,31,4,2,4603.14,Não,148.0,Acima da média
1774,IMV-1775,Apartamento,Salvador,Zona Sul,30,3,1,4272.85,Sim,142.0,Acima da média
970,IMV-0971,Apartamento,Salvador,Zona Norte,35,3,1,4838.28,Sim,138.0,Acima da média
90,IMV-0091,Apartamento,Salvador,Zona Oeste,36,4,2,4891.47,Sim,136.0,Acima da média
461,IMV-0462,Apartamento,Rio de Janeiro,Centro,31,4,2,4176.73,Sim,135.0,Acima da média
721,IMV-0722,Apartamento,Porto Alegre,Zona Leste,33,1,2,4410.00,Sim,134.0,Acima da média
319,IMV-0320,Apartamento,Salvador,Zona Oeste,35,1,2,4663.99,Sim,133.0,Acima da média
812,IMV-0813,Apartamento,Belo Horizonte,Zona Oeste,32,1,2,4167.84,Não,130.0,Acima da média

In [23]:
#Arrendondar os valores dos m²
df_Apartamentos.loc[:,'Valor_m2'] = df_Apartamentos['Valor_m2'].round(0)

In [24]:
#funcao de alta demanda
media_geral = df_Apartamentos['Valor_m2'].mean()
media_geral.round(0)

# print(f'A média geral dos m² é de R${media_geral:.2f}')

def alta_demanda(valor_m2):
    if valor_m2 > media_geral:
        return'Acima da média'
    if valor_m2 == media_geral:
        return 'Dentro da média'
    else:
        return 'Abaixo da média'

In [29]:
df_Apartamentos.loc[:,'Alta_demanda'] = df_Apartamentos['Valor_m2'].apply(alta_demanda)

df_Apartamentos.head()

,ID_Imovel,Tipo_Imovel,Cidade,Bairro,Area_m2,Num_Quartos,Num_Banheiros,Aluguel_Mensal,Disponivel,Valor_m2,Alta_demanda
4,IMV-0005,Apartamento,Rio de Janeiro,Zona Sul,198,3,1,3488.91,Não,18.0,Abaixo da média
5,IMV-0006,Apartamento,São Paulo,Zona Norte,96,4,2,4523.81,Sim,47.0,Acima da média
8,IMV-0009,Apartamento,Rio de Janeiro,Zona Sul,149,1,1,2011.52,Sim,14.0,Abaixo da média
11,IMV-0012,Apartamento,São Paulo,Zona Sul,267,4,1,4537.05,Não,17.0,Abaixo da média
13,IMV-0014,Apartamento,Rio de Janeiro,Zona Leste,192,3,2,2210.76,Não,12.0,Abaixo da média

In [30]:
df_Apartamentos.to_csv('Apartamentos_Alta_Demanda.csv')